eFORMAT: 1A
HOST: http://api.mv2.domain/api/v2/

# Mv2 - Web

MV2 utilizes JWT Authentication which generates token on user sign in. Token is required for most requests.
Token can be send as `token` parameter as query string or as header in such format `Authorization: Bearer {system-generated-token}`.

When sending request with body of JSON headers should contain `Content-Type: application/json`.

## Group Authentication
## Sign In [/auth/login]
### Sign In [POST]
Attempt to login and get user token.
`token` is NOT required.

+ Request (application/json)

        {
            "email": "admin@super.com",
            "password": "password"
        }

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "userType": "admin",
                    "__DEVNODE__userType": "will be `admin` or `customer`",
                    "token": "your.generated.token",
                    "user": {
                        "id": 1,
                        "civility": "mr",
                        "lastName": "Lala",
                        "firstName": "Lulu",
                        "email": "luluz@mailinator.com",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": "CED",
                        "isAdmin": false,
                        "isActive": true,
                        "profilePicPath": null,
                        "company": {
                            "id": 1,
                            "fullName": "21 July Editz",
                            "tradeName": "1111",
                            "intercommunityVat": "11111",
                            "naf": "1111",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1,
                            "raisonSociale": {
                                "id": 5,
                                "code": "M14",
                                "label": "EURL"
                            },
                            "address": {
                                "id": 1,
                                "address1": "S Las Vegas Blvd",
                                "address2": null,
                                "zipcode": "11",
                                "city": "Clark County",
                                "country": "United States",
                                "lat": 36.045999,
                                "lng": -115.1722248
                            }
                        },
                        "accesses": [
                            {
                                "id": 1,
                                "isPowerUser": true,
                                "customer": {
                                    "id": 1,
                                    "fullName": "21 July Editz",
                                    "tradeName": "1111",
                                    "vatOption": 1,
                                    "active": 0,
                                    "intercommunityVat": "11111",
                                    "vat": null,
                                    "siren": null,
                                    "naf": "1111",
                                    "iban": "FR7630001007941234567890185",
                                    "accountName": "21212",
                                    "swift": "FRFRFR76300",
                                    "addressOption": 1,
                                    "customerImg": [
                                        ""
                                    ],
                                    "company": {
                                        "id": 1,
                                        "fullName": "Tesla Corp",
                                        "tradeName": "Tesla",
                                        "intercommunityVat": "11111",
                                        "naf": "1111",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 1,
                                        "raisonSociale": {
                                            "id": 5,
                                            "code": "M14",
                                            "label": "EURL"
                                        },
                                        "address": {
                                            "id": 1,
                                            "address1": "S Las Vegas Blvd",
                                            "address2": null,
                                            "zipcode": "11",
                                            "city": "Clark County",
                                            "country": "United States",
                                            "lat": 36.045999,
                                            "lng": -115.1722248
                                        }
                                    }
                                },
                                "resources": {
                                    "portfolios": [
                                        {
                                            "id": 1,
                                            "__DEVNOTE__id": "Id of portfolio",
                                            "profile": {
                                                "id": 3,
                                                "name": "Broker Portfolio 1",
                                                "slug": "1-broker-11231"
                                            },
                                            "allPropertiesOption": false,
                                            "properties": [
                                                {
                                                    "id": 1,
                                                    "name": "Property #1",
                                                    "__DEVNOTE_profile": "Profile here is User User Access.",
                                                    "profile": {
                                                        "id": 4,
                                                        "name": "Broker",
                                                        "slug": "1-broker-1524"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 2,
                                            "__DEVNOTE__id": "Id of portfolio",
                                            "profile": null,
                                            "allPropertiesOption": true,
                                            "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                                            "properties": null
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                }

## Sign Out [/auth/logout]
### Sign Out [POST]
Logout and clear user token.
`token` is required.

+ Request (application/json)

        {
            "email": "admin@customer.com",
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": 1
            }

## Reset Password [/auth/reset-password]
### Reset Password [POST]
Reset password.

+ Request (application/json)

        {
            "email": "admin@customer.com",
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "email": "admin@customer.com"
                }
            }

## Group ---1

## Group ---1.1

## Group -NEW- Admin: Customer
## Admin: Customer List [/admin/customers?]
### (Admin) Customer List [GET]
Customer List.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 5,
                        "fullName": "Metro Corp.",
                        "tradeName": "MCORP",
                        "vatOption": 1,
                        "active": 1,
                        "intercommunityVat": "VAT111",
                        "vat": null,
                        "siren": null,
                        "naf": "NAF",
                        "iban": "FR7630001007941234567890185",
                        "accountName": "IBANK",
                        "swift": "FRFRFR76300",
                        "addressOption": 0,
                        "addresses": [
                            {
                                "id": 9,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 28,
                                    "address1": "West Lane 12",
                                    "address2": null,
                                    "zipcode": "14123",
                                    "city": "Vancouver",
                                    "country": "CANADA",
                                    "lat": 49.2827291,
                                    "lng": -123.1207375
                                }
                            },
                            {
                                "id": 10,
                                "addressType": "billing",
                                "address": {
                                    "id": 29,
                                    "address1": "Dakota 13",
                                    "address2": null,
                                    "zipcode": "41321",
                                    "city": "Cuautitlan",
                                    "country": "MEXICO",
                                    "lat": 19.6721809,
                                    "lng": -99.1809685
                                }
                            }
                        ],
                        "customerImg": [
                            ""
                        ],
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "company": {
                            "id": 8,
                            "address": {
                                "id": 28,
                                "address1": "West Lane 12",
                                "address2": null,
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            },
                            "fullName": "Metro Corp.",
                            "tradeName": "MCORP",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": "VAT111",
                            "naf": "NAF",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1
                        },
                        "contact": {
                            "id": 6,
                            "civility": "mr",
                            "lastName": "Pantjasax",
                            "firstName": "Harry",
                            "email": "hendy.yanuar+hpsax@wgs.co.id",
                            "mobilePhone": "09",
                            "officePhone": null,
                            "jobTitle": "DR",
                            "isGuest": false,
                            "isCustomer": true,
                            "isActive": true,
                            "profilePicPath": null
                        }
                    }
                ]
            }

## Admin: Customer Detail [/admin/customers/{customerId}?]
### (Admin) Customer Detail [GET]
Customer Detail.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 5,
                    "fullName": "Metro Corp.",
                    "tradeName": "MCORP",
                    "vatOption": 1,
                    "active": 1,
                    "intercommunityVat": "VAT111",
                    "vat": null,
                    "siren": null,
                    "naf": "NAF",
                    "iban": "FR7630001007941234567890185",
                    "accountName": "IBANK",
                    "swift": "FRFRFR76300",
                    "addressOption": 0,
                    "addresses": [
                        {
                            "id": 9,
                            "addressType": "headquarter",
                            "address": {
                                "id": 28,
                                "address1": "West Lane 12",
                                "address2": null,
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            }
                        },
                        {
                            "id": 10,
                            "addressType": "billing",
                            "address": {
                                "id": 29,
                                "address1": "Dakota 13",
                                "address2": null,
                                "zipcode": "41321",
                                "city": "Cuautitlan",
                                "country": "MEXICO",
                                "lat": 19.6721809,
                                "lng": -99.1809685
                            }
                        }
                    ],
                    "customerImg": [
                        ""
                    ],
                    "raisonSociale": {
                        "id": 1,
                        "code": "M01",
                        "label": "SOCIETE"
                    },
                    "company": {
                        "id": 8,
                        "address": {
                            "id": 28,
                            "address1": "West Lane 12",
                            "address2": null,
                            "zipcode": "14123",
                            "city": "Vancouver",
                            "country": "CANADA",
                            "lat": 49.2827291,
                            "lng": -123.1207375
                        },
                        "fullName": "Metro Corp.",
                        "tradeName": "MCORP",
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "intercommunityVat": "VAT111",
                        "naf": "NAF",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1
                    },
                    "contact": {
                        "id": 6,
                        "civility": "mr",
                        "lastName": "Pantjasax",
                        "firstName": "Harry",
                        "email": "hendy.yanuar+hpsax@wgs.co.id",
                        "mobilePhone": "09",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "isGuest": false,
                        "isCustomer": true,
                        "isActive": true,
                        "profilePicPath": null
                    }
                }
            }

## Admin: Customer Create [/admin/customers]
### (Admin) Customer Create [POST]
Create Customer.

+ Request (application/json)

        {
            "addressOption": false,
            "vatOption": true,
            "intercommunityVat": "VAT111",
            "fullName": "Mondelez International",
            "raisonSociale": {
                "id": 1,
                "code": "M01",
                "label": "SOCIETE"
            },
            "tradeName": "Nandai",
            "naf": "NAF",
            "accountName": "IBANK",
            "iban": "FR7630001007941234567890185",
            "swift": "FRFRFR76300",
            "siren": "111111118",
            "address": {
                "address1": "West Lane 12",
                "address2": "",
                "zipcode": "14123",
                "city": "Vancouver",
                "country": "CANADA",
                "lat": 49.2827291,
                "lng": -123.12073750000002
            },
            "contact": {
                "civility": "mr",
                "firstName": "Ritz",
                "lastName": "Chiz",
                "email": "hendy.yanuar+ritzchiz@wgs.co.id",
                "mobilePhone": "09",
                "jobTitle": "DR"
            },
            "billingAddress": {
                "address1": "Dakota 13",
                "address2": "",
                "zipcode": "41321",
                "city": "Cuautitlan",
                "country": "MEXICO",
                "lat": 19.6721809,
                "lng": -99.1809685
            }
        }

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 5,
                    "fullName": "Metro Corp.",
                    "tradeName": "MCORP",
                    "vatOption": 1,
                    "active": 1,
                    "intercommunityVat": "VAT111",
                    "vat": null,
                    "siren": null,
                    "naf": "NAF",
                    "iban": "FR7630001007941234567890185",
                    "accountName": "IBANK",
                    "swift": "FRFRFR76300",
                    "addressOption": 0,
                    "addresses": [
                        {
                            "id": 9,
                            "addressType": "headquarter",
                            "address": {
                                "id": 28,
                                "address1": "West Lane 12",
                                "address2": null,
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            }
                        },
                        {
                            "id": 10,
                            "addressType": "billing",
                            "address": {
                                "id": 29,
                                "address1": "Dakota 13",
                                "address2": null,
                                "zipcode": "41321",
                                "city": "Cuautitlan",
                                "country": "MEXICO",
                                "lat": 19.6721809,
                                "lng": -99.1809685
                            }
                        }
                    ],
                    "customerImg": [
                        ""
                    ],
                    "raisonSociale": {
                        "id": 1,
                        "code": "M01",
                        "label": "SOCIETE"
                    },
                    "company": {
                        "id": 8,
                        "address": {
                            "id": 28,
                            "address1": "West Lane 12",
                            "address2": null,
                            "zipcode": "14123",
                            "city": "Vancouver",
                            "country": "CANADA",
                            "lat": 49.2827291,
                            "lng": -123.1207375
                        },
                        "fullName": "Metro Corp.",
                        "tradeName": "MCORP",
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "intercommunityVat": "VAT111",
                        "naf": "NAF",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1
                    },
                    "contact": {
                        "id": 6,
                        "civility": "mr",
                        "lastName": "Pantjasax",
                        "firstName": "Harry",
                        "email": "hendy.yanuar+hpsax@wgs.co.id",
                        "mobilePhone": "09",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "isGuest": false,
                        "isCustomer": true,
                        "isActive": true,
                        "profilePicPath": null
                    }
                }
            }

## Admin: Customer Update [/admin/customers/{customerId}]
### (Admin) Customer Update [POST]
Update Customer.

+ Request (application/json)

        {
            "id": 1,
            "addressOption": false,
            "vatOption": true,
            "intercommunityVat": "VAT111",
            "fullName": "Mondelez International",
            "raisonSociale": {
                "id": 1,
                "code": "M01",
                "label": "SOCIETE"
            },
            "tradeName": "Nandai",
            "naf": "NAF",
            "accountName": "IBANK",
            "iban": "FR7630001007941234567890185",
            "swift": "FRFRFR76300",
            "siren": "111111118",
            "address": {
                "id": 1,
                "address1": "West Lane 12",
                "address2": "",
                "zipcode": "14123",
                "city": "Vancouver",
                "country": "CANADA",
                "lat": 49.2827291,
                "lng": -123.12073750000002
            },
            "contact": {
                "id": 1,
                "civility": "mr",
                "firstName": "Ritz",
                "lastName": "Chiz",
                "email": "hendy.yanuar+ritzchiz@wgs.co.id",
                "mobilePhone": "09",
                "jobTitle": "DR"
            },
            "billingAddress": {
                "id": 1,
                "address1": "Dakota 13",
                "address2": "",
                "zipcode": "41321",
                "city": "Cuautitlan",
                "country": "MEXICO",
                "lat": 19.6721809,
                "lng": -99.1809685
            }
        }

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 5,
                    "fullName": "Metro Corp.",
                    "tradeName": "MCORP",
                    "vatOption": 1,
                    "active": 1,
                    "intercommunityVat": "VAT111",
                    "vat": null,
                    "siren": null,
                    "naf": "NAF",
                    "iban": "FR7630001007941234567890185",
                    "accountName": "IBANK",
                    "swift": "FRFRFR76300",
                    "addressOption": 0,
                    "addresses": [
                        {
                            "id": 9,
                            "addressType": "headquarter",
                            "address": {
                                "id": 28,
                                "address1": "West Lane 12",
                                "address2": null,
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            }
                        },
                        {
                            "id": 10,
                            "addressType": "billing",
                            "address": {
                                "id": 29,
                                "address1": "Dakota 13",
                                "address2": null,
                                "zipcode": "41321",
                                "city": "Cuautitlan",
                                "country": "MEXICO",
                                "lat": 19.6721809,
                                "lng": -99.1809685
                            }
                        }
                    ],
                    "customerImg": [
                        ""
                    ],
                    "raisonSociale": {
                        "id": 1,
                        "code": "M01",
                        "label": "SOCIETE"
                    },
                    "company": {
                        "id": 8,
                        "address": {
                            "id": 28,
                            "address1": "West Lane 12",
                            "address2": null,
                            "zipcode": "14123",
                            "city": "Vancouver",
                            "country": "CANADA",
                            "lat": 49.2827291,
                            "lng": -123.1207375
                        },
                        "fullName": "Metro Corp.",
                        "tradeName": "MCORP",
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "intercommunityVat": "VAT111",
                        "naf": "NAF",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1
                    },
                    "contact": {
                        "id": 6,
                        "civility": "mr",
                        "lastName": "Pantjasax",
                        "firstName": "Harry",
                        "email": "hendy.yanuar+hpsax@wgs.co.id",
                        "mobilePhone": "09",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "isGuest": false,
                        "isCustomer": true,
                        "isActive": true,
                        "profilePicPath": null
                    }
                }
            }

## Admin: Customer Toggle Active [/admin/customers/{customerId}/toggle-active]
### (Admin) Customer Toggle Active [POST]
Toggle Customer Active/Inactive state. Returns true if updated to true, otherwise: false.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": true
            }

## Admin: Customer User List [/admin/customers/{customerId}/users]
### (Admin) Customer User List [GET]
Show list of user attached with customer. Same result as /customers/{customerId}/users

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 1,
                        "civility": "mr",
                        "lastName": "Lala",
                        "firstName": "Lulu",
                        "email": "luluz@mailinator.com",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": "CED",
                        "isAdmin": false,
                        "isActive": true,
                        "profilePicPath": null,
                        "company": {
                            "id": 1,
                            "fullName": "21 July Editz",
                            "tradeName": "1111",
                            "intercommunityVat": "11111",
                            "naf": "1111",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1,
                            "raisonSociale": {
                                "id": 5,
                                "code": "M14",
                                "label": "EURL"
                            },
                            "address": {
                                "id": 1,
                                "address1": "S Las Vegas Blvd",
                                "address2": null,
                                "zipcode": "11",
                                "city": "Clark County",
                                "country": "United States",
                                "lat": 36.045999,
                                "lng": -115.1722248
                            }
                        },
                        "accesses": [
                            {
                                "id": 1,
                                "isPowerUser": true,
                                "customer": {
                                    "id": 1,
                                    "fullName": "21 July Editz",
                                    "tradeName": "1111",
                                    "vatOption": 1,
                                    "active": 0,
                                    "intercommunityVat": "11111",
                                    "vat": null,
                                    "siren": null,
                                    "naf": "1111",
                                    "iban": "FR7630001007941234567890185",
                                    "accountName": "21212",
                                    "swift": "FRFRFR76300",
                                    "addressOption": 1,
                                    "customerImg": [
                                        ""
                                    ],
                                    "company": {
                                        "id": 1,
                                        "fullName": "Tesla Corp",
                                        "tradeName": "Tesla",
                                        "intercommunityVat": "11111",
                                        "naf": "1111",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 1,
                                        "raisonSociale": {
                                            "id": 5,
                                            "code": "M14",
                                            "label": "EURL"
                                        },
                                        "address": {
                                            "id": 1,
                                            "address1": "S Las Vegas Blvd",
                                            "address2": null,
                                            "zipcode": "11",
                                            "city": "Clark County",
                                            "country": "United States",
                                            "lat": 36.045999,
                                            "lng": -115.1722248
                                        }
                                    }
                                },
                                "resources": {
                                    "portfolios": [
                                        {
                                            "id": 1,
                                            "__DEVNOTE__id": "Id of portfolio",
                                            "profile": {
                                                "id": 3,
                                                "name": "Broker Portfolio 1",
                                                "slug": "1-broker-11231"
                                            },
                                            "allPropertiesOption": false,
                                            "properties": [
                                                {
                                                    "id": 1,
                                                    "name": "Property #1",
                                                    "__DEVNOTE_profile": "Profile here is User User Access.",
                                                    "profile": {
                                                        "id": 4,
                                                        "name": "Broker",
                                                        "slug": "1-broker-1524"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 2,
                                            "__DEVNOTE__id": "Id of portfolio",
                                            "profile": null,
                                            "allPropertiesOption": true,
                                            "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                                            "properties": null
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                ]
            }

## Group ---1.1.1

## Group -NEW- Admin: Customer's User Access
## Admin: Customer's User Access [/admin/customers/{customerId}/users/{userId}/access?]
### (Admin) Customer's User Access [GET]
As an Admin, only selected Customer can only see access of it's own user of the same customer detail information.
Meaning, the result here is a single object.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "portfolios": [
                        {
                            "id": 1,
                            "__DEVNOTE__id": "Id of portfolio",

                            "profile": {
                                "id": 3,
                                "name": "Broker Portfolio 1",
                                "slug": "1-broker-11231"
                            },

                            "allPropertiesOption": false,
                            "properties": [
                                {
                                    "id": 1,
                                    "name": "Property #1",

                                    "__DEVNOTE_profile": "Profile here is User User Access.",
                                    "profile": {
                                        "id": 4,
                                        "name": "Broker",
                                        "slug": "1-broker-1524"
                                    }
                                }
                            ]
                        },
                        {
                            "id": 2,
                            "__DEVNOTE__id": "Id of portfolio",

                            "profile": {
                                "id": 3,
                                "name": "Broker Portfolio General",
                                "slug": "1-broker-1141"
                            },

                            "allPropertiesOption": true,
                            "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                            "properties": null
                        }
                    ]
                }
            }

## Admin: Customer's User Access Update [/admin/customers/{customerId}/users/{userId}/access]
### (Admin) Customer's User Access Update [POST]
As an admin, only selected customer can only see access of it's own user of the same customer detail information.
Will replace (deletes existing) access table content according to requested data.

+ Request (application/json)

        {
            "id": 1,
            "__DEVNOTE__id": "Id of Customer",
            "portfolios": [
                {
                    "id": 1,
                    "profile": {
                        "id": 3
                    },
                    "allPropertiesOption": false,
                    "properties": [
                        {
                            "id": 1,
                            "profile": {
                                "id": 4
                            }
                        }
                    ]
                }
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "portfolios": [
                        {
                            "id": 1,
                            "__DEVNOTE__id": "Id of portfolio",

                            "profile": {
                                "id": 3,
                                "name": "Broker Portfolio 1",
                                "slug": "1-broker-11231"
                            },

                            "allPropertiesOption": false,
                            "properties": [
                                {
                                    "id": 1,
                                    "name": "Property #1",

                                    "__DEVNOTE_profile": "Profile here is User User Access.",
                                    "profile": {
                                        "id": 4,
                                        "name": "Broker",
                                        "slug": "1-broker-1524"
                                    }
                                }
                            ]
                        },
                        {
                            "id": 2,
                            "__DEVNOTE__id": "Id of portfolio",

                            "profile": {
                                "id": 3,
                                "name": "Broker Portfolio General",
                                "slug": "1-broker-1141"
                            },

                            "allPropertiesOption": true,
                            "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                            "properties": null
                        }
                    ]
                }
            }

## Group ---1.1.2

## Group Admin Customer: User Access Dataroom Global
## Admin: Customer's User Access Dataroom Global List [/admin/customers/{customerId}/users/{userId}/access-dataroom-global-list?]
### (Admin) Customer's User Access Dataroom Global List [POST]
Admin can get Dataroom parent list

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "level": "I",
                        "label": "Rental Situation"
                    },
                    {
                        "level": "II",
                        "label": "Rental Management"
                    },
                    {
                        "level": "III",
                        "label": "Building Legal Situation"
                    },
                    {
                        "level": "IV",
                        "label": "Corporate"
                    },
                    {
                        "level": "V",
                        "label": "Building Taxes & Insurances"
                    },
                    {
                        "level": "VI",
                        "label": "Building Operations"
                    },
                    {
                        "level": "VII",
                        "label": "Works/Restructuring"
                    },
                    {
                        "level": "VIII",
                        "label": "Pending Ligitations"
                    },
                ]

## Admin: Customer's User Access Dataroom Global [/admin/customers/{customerId}/users/{userId}/access-dataroom-global]
### (Admin) Customer's User Access Dataroom Global [POST]
Admin can save Global User Access for Dataroom.

+ Request (application/json)

        {
            "allDataroomOption": false,
            "dataroom": [
                {
                    "level": "I"
                },
                {
                    "level": "II"
                }
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "allDataroomOption": false,
                    "dataroom": [
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "level": "I"
                        },
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "level": "II"
                        }
                    ]
                }
            }

## Admin: Customer's User Access Dataroom Global [/admin/customers/{customerId}/users/{userId}/access-dataroom-global?]
### (Admin) Customer's User Access Dataroom Global [GET]
Get Global Access List of User for Dataroom.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "allDataroomOption": false,
                    "dataroom": [
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "level": "I"
                        },
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "level": "II"
                        }
                    ]
                }
            }

## Group ---1.1.3

## Group Admin: Customer's User Access Dataroom Resource
## Admin: Customer's User Access Properties List [/admin/customers/{customerId}/users/{userId}/access-properties?]
### (Admin) Customer's User Access Properties List [GET]
Admin can get list of Properties for access modification for User.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "data": [
                        {
                            "__DEVNOTE__id": "id of Property",
                            "id": 1,
                            "name": "My Property A",
                            "portfolio": {
                                "id": 1,
                                "name": "My Portfolio 1"
                            },
                            "company": {
                                "id": 1,
                                "name": "Company X"
                            }
                        },
                        {
                            "__DEVNOTE__id": "id of Property",
                            "id": 2,
                            "name": "My Property B",
                            "portfolio": {
                                "id": 1,
                                "name": "My Portfolio 1"
                            },
                            "company": {
                                "id": 1,
                                "name": "Company X"
                            }
                        }
                    ],
                    "meta": {
                        "pagination": {
                            "total": 3,
                            "count": 3,
                            "per_page": 8,
                            "current_page": 1,
                            "total_pages": 1,
                            "links": []
                        }
                    }
                }
            }

## Admin: Customer's User Access Dataroom Resources [/admin/customers/{customerId}/users/{userId}/access-dataroom-resource/properties/{propertyId}?]
### Admin: Customer's User Access Dataroom Resources [GET]
Admin can get list of Access for Dataroom Resource of a User.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "dataroomDetail": [
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "propertyId": 1,
                            "dataroomLevelOption": false,
                            "dataroomLevel": [
                                "I",
                                "I.A.1",
                                "II"
                            ]
                        },
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "propertyId": 1,
                            "dataroomLevelOption": true
                            "dataroomLevel": []
                        }
                    ]
                }
            }

## Admin: Customer's User Access Dataroom Resources [/admin/customers/{customerId}/users/{userId}/access-dataroom-resource/properties/{propertyId}]
### Admin: Customer's User Access Dataroom Resources [POST]
Save User Access for Dataroom Resource.

+ Request (application/json)

        {
            "dataroomLevelOption": false,
            "dataroomLevel": [
                "I",
                "I.A.1",
                "II"
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "dataroomDetail": [
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "propertyId": 1,
                            "dataroomLevelOption": false,
                            "dataroomLevel": [
                                "I",
                                "I.A.1",
                                "II"
                            ]
                        },
                        {
                            "id": 1,
                            "userId": 1,
                            "customerId": 1,
                            "propertyId": 1,
                            "dataroomLevelOption": true
                            "dataroomLevel": []
                        }
                    ]
                }
            }

## Group ---1.2

## Group -UPDATED- Admin: User Resource
## Admin: User List [/admin/users?]
### (Admin) User List [GET]
User list with information of the customer/company if exist.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 1,
                        "civility": "mr",
                        "lastName": "Lala",
                        "firstName": "Lulu",
                        "email": "luluz@mailinator.com",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": "CED",
                        "isAdmin": false,
                        "isActive": true,
                        "profilePicPath": null,
                        "company": {
                            "id": 1,
                            "fullName": "21 July Editz",
                            "tradeName": "1111",
                            "intercommunityVat": "11111",
                            "naf": "1111",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1,
                            "raisonSociale": {
                                "id": 5,
                                "code": "M14",
                                "label": "EURL"
                            },
                            "address": {
                                "id": 1,
                                "address1": "S Las Vegas Blvd",
                                "address2": null,
                                "zipcode": "11",
                                "city": "Clark County",
                                "country": "United States",
                                "lat": 36.045999,
                                "lng": -115.1722248
                            }
                        },
                        "accesses": [
                            {
                                "id": 1,
                                "isPowerUser": true,
                                "customer": {
                                    "id": 1,
                                    "fullName": "21 July Editz",
                                    "tradeName": "1111",
                                    "vatOption": 1,
                                    "active": 0,
                                    "intercommunityVat": "11111",
                                    "vat": null,
                                    "siren": null,
                                    "naf": "1111",
                                    "iban": "FR7630001007941234567890185",
                                    "accountName": "21212",
                                    "swift": "FRFRFR76300",
                                    "addressOption": 1,
                                    "customerImg": [
                                        ""
                                    ],
                                    "company": {
                                        "id": 1,
                                        "fullName": "Tesla Corp",
                                        "tradeName": "Tesla",
                                        "intercommunityVat": "11111",
                                        "naf": "1111",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 1,
                                        "raisonSociale": {
                                            "id": 5,
                                            "code": "M14",
                                            "label": "EURL"
                                        },
                                        "address": {
                                            "id": 1,
                                            "address1": "S Las Vegas Blvd",
                                            "address2": null,
                                            "zipcode": "11",
                                            "city": "Clark County",
                                            "country": "United States",
                                            "lat": 36.045999,
                                            "lng": -115.1722248
                                        }
                                    }
                                },
                                "resources": {
                                    "portfolios": [
                                        {
                                            "id": 1,
                                            "__DEVNOTE__id": "Id of portfolio",
                                            "profile": {
                                                "id": 3,
                                                "name": "Broker Portfolio 1",
                                                "slug": "1-broker-11231"
                                            },
                                            "allPropertiesOption": false,
                                            "properties": [
                                                {
                                                    "id": 1,
                                                    "name": "Property #1",
                                                    "__DEVNOTE_profile": "Profile here is User User Access.",
                                                    "profile": {
                                                        "id": 4,
                                                        "name": "Broker",
                                                        "slug": "1-broker-1524"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 2,
                                            "__DEVNOTE__id": "Id of portfolio",
                                            "profile": null,
                                            "allPropertiesOption": true,
                                            "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                                            "properties": null
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                ]
            }

## Admin: User Detail [/admin/users/{userId}?]
### (Admin) User Detail [GET]
User detail.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": "mr",
                    "lastName": "Lala",
                    "firstName": "Lulu",
                    "email": "luluz@mailinator.com",
                    "mobilePhone": null,
                    "officePhone": null,
                    "jobTitle": "CED",
                    "isAdmin": false,
                    "isActive": true,
                    "profilePicPath": null,
                    "company": {
                        "id": 1,
                        "fullName": "21 July Editz",
                        "tradeName": "1111",
                        "intercommunityVat": "11111",
                        "naf": "1111",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1,
                        "raisonSociale": {
                            "id": 5,
                            "code": "M14",
                            "label": "EURL"
                        },
                        "address": {
                            "id": 1,
                            "address1": "S Las Vegas Blvd",
                            "address2": null,
                            "zipcode": "11",
                            "city": "Clark County",
                            "country": "United States",
                            "lat": 36.045999,
                            "lng": -115.1722248
                        }
                    },
                    "accesses": [
                        {
                            "id": 1,
                            "isPowerUser": true,
                            "customer": {
                                "id": 1,
                                "fullName": "21 July Editz",
                                "tradeName": "1111",
                                "vatOption": 1,
                                "active": 0,
                                "intercommunityVat": "11111",
                                "vat": null,
                                "siren": null,
                                "naf": "1111",
                                "iban": "FR7630001007941234567890185",
                                "accountName": "21212",
                                "swift": "FRFRFR76300",
                                "addressOption": 1,
                                "customerImg": [
                                    ""
                                ],
                                "company": {
                                    "id": 1,
                                    "fullName": "Tesla Corp",
                                    "tradeName": "Tesla",
                                    "intercommunityVat": "11111",
                                    "naf": "1111",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 1,
                                    "raisonSociale": {
                                        "id": 5,
                                        "code": "M14",
                                        "label": "EURL"
                                    },
                                    "address": {
                                        "id": 1,
                                        "address1": "S Las Vegas Blvd",
                                        "address2": null,
                                        "zipcode": "11",
                                        "city": "Clark County",
                                        "country": "United States",
                                        "lat": 36.045999,
                                        "lng": -115.1722248
                                    }
                                }
                            },
                            "resources": {
                                "portfolios": [
                                    {
                                        "id": 1,
                                        "__DEVNOTE__id": "Id of portfolio",
                                        "profile": {
                                            "id": 3,
                                            "name": "Broker Portfolio 1",
                                            "slug": "1-broker-11231"
                                        },
                                        "allPropertiesOption": false,
                                        "properties": [
                                            {
                                                "id": 1,
                                                "name": "Property #1",
                                                "__DEVNOTE_profile": "Profile here is User User Access.",
                                                "profile": {
                                                    "id": 4,
                                                    "name": "Broker",
                                                    "slug": "1-broker-1524"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "id": 2,
                                        "__DEVNOTE__id": "Id of portfolio",
                                        "profile": null,
                                        "allPropertiesOption": true,
                                        "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                                        "properties": null
                                    }
                                ]
                            }
                        }
                    ]
                }
            }

## -NEW- Admin: User Create [/admin/users]
### (Admin) User Create [POST]
Create user.

+ Request (application/json)

        {
            "customerOption": {
                "id": 1,
                "name": "Blue Whole Corp."
            },
            "customerProfileOption": {
                "id": 2,
                "name": "Asset Manager"
            },
            "customerPowerUserOption": true,
            
            "civility": "mr",
            "lastName": "Lala",
            "firstName": "Lulu",
            "email": "luluz@mailinator.com",
            "mobilePhone": null,
            "officePhone": null,
            "jobTitle": "CED",
            "profilePicPath": null,
        
            "__DEVNOTE__company": "Can lookup or create",
            "company": {
                "id": 1,
                "fullName": "21 July Editz",
                "tradeName": "1111",
                "raisonSociale": {
                    "id": 5,
                    "code": "M14",
                    "label": "EURL"
                },
                "intercommunityVat": "11111",
                "naf": "1111",
                "siren": null,
                "vat": null,
                "vatOption": 1,
                "address": {
                    "id": 1,
                    "address1": "S Las Vegas Blvd",
                    "address2": null,
                    "zipcode": "11",
                    "city": "Clark County",
                    "country": "United States",
                    "lat": 36.045999,
                    "lng": -115.1722248
                }
            }
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": "mr",
                    "lastName": "Lala",
                    "firstName": "Lulu",
                    "email": "luluz@mailinator.com",
                    "mobilePhone": null,
                    "officePhone": null,
                    "jobTitle": "CED",
                    "isAdmin": false,
                    "isActive": true,
                    "profilePicPath": null,
                    "company": {
                        "id": 1,
                        "fullName": "21 July Editz",
                        "tradeName": "1111",
                        "intercommunityVat": "11111",
                        "naf": "1111",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1,
                        "raisonSociale": {
                            "id": 5,
                            "code": "M14",
                            "label": "EURL"
                        },
                        "address": {
                            "id": 1,
                            "address1": "S Las Vegas Blvd",
                            "address2": null,
                            "zipcode": "11",
                            "city": "Clark County",
                            "country": "United States",
                            "lat": 36.045999,
                            "lng": -115.1722248
                        }
                    },
                    "accesses": [
                        {
                            "id": 1,
                            "isPowerUser": true,
                            "customer": {
                                "id": 1,
                                "fullName": "21 July Editz",
                                "tradeName": "1111",
                                "vatOption": 1,
                                "active": 0,
                                "intercommunityVat": "11111",
                                "vat": null,
                                "siren": null,
                                "naf": "1111",
                                "iban": "FR7630001007941234567890185",
                                "accountName": "21212",
                                "swift": "FRFRFR76300",
                                "addressOption": 1,
                                "customerImg": [
                                    ""
                                ],
                                "company": {
                                    "id": 1,
                                    "fullName": "Tesla Corp",
                                    "tradeName": "Tesla",
                                    "intercommunityVat": "11111",
                                    "naf": "1111",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 1,
                                    "raisonSociale": {
                                        "id": 5,
                                        "code": "M14",
                                        "label": "EURL"
                                    },
                                    "address": {
                                        "id": 1,
                                        "address1": "S Las Vegas Blvd",
                                        "address2": null,
                                        "zipcode": "11",
                                        "city": "Clark County",
                                        "country": "United States",
                                        "lat": 36.045999,
                                        "lng": -115.1722248
                                    }
                                }
                            },
                            "resources": {
                                "portfolios": [
                                    {
                                        "id": 1,
                                        "__DEVNOTE__id": "Id of portfolio",
                                        "profile": {
                                            "id": 3,
                                            "name": "Broker Portfolio 1",
                                            "slug": "1-broker-11231"
                                        },
                                        "allPropertiesOption": false,
                                        "properties": [
                                            {
                                                "id": 1,
                                                "name": "Property #1",
                                                "__DEVNOTE_profile": "Profile here is User User Access.",
                                                "profile": {
                                                    "id": 4,
                                                    "name": "Broker",
                                                    "slug": "1-broker-1524"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "id": 2,
                                        "__DEVNOTE__id": "Id of portfolio",
                                        "profile": null,
                                        "allPropertiesOption": true,
                                        "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                                        "properties": null
                                    }
                                ]
                            }
                        }
                    ]
                }
            }

## -NEW- Admin: User Update [/admin/users/{userId}]
### (Admin) User Update [POST]

+ Request (application/json)

        {
            "customerOption": {
                "id": 1,
                "name": "Blue Whole Corp."
            },
            "customerProfileOption": {
                "id": 2,
                "name": "Asset Manager"
            },
            "customerPowerUserOption": true,

            "id": 2,
            "civility": "mr",
            "lastName": "Lala",
            "firstName": "Lulu",
            "email": "luluz@mailinator.com",
            "mobilePhone": null,
            "officePhone": null,
            "jobTitle": "CED",
            
            "profilePicPath": null,
            
            "__DEVNOTE__company": "Can lookup or create; Id is required and if id is set, company data cannot be changed.",
            "company": {
                "id": 1,
                "fullName": "21 July Editz",
                "tradeName": "1111",
                "raisonSociale": {
                    "id": 5,
                    "code": "M14",
                    "label": "EURL"
                },
                "intercommunityVat": "11111",
                "naf": "1111",
                "siren": null,
                "vat": null,
                "vatOption": 1,
                "address": {
                    "id": 1,
                    "address1": "S Las Vegas Blvd",
                    "address2": null,
                    "zipcode": "11",
                    "city": "Clark County",
                    "country": "United States",
                    "lat": 36.045999,
                    "lng": -115.1722248
                }
            }
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": "mr",
                    "lastName": "Lala",
                    "firstName": "Lulu",
                    "email": "luluz@mailinator.com",
                    "mobilePhone": null,
                    "officePhone": null,
                    "jobTitle": "CED",
                    "isAdmin": false,
                    "isActive": true,
                    "profilePicPath": null,
                    "company": {
                        "id": 1,
                        "fullName": "21 July Editz",
                        "tradeName": "1111",
                        "intercommunityVat": "11111",
                        "naf": "1111",
                        "siren": null,
                        "vat": null,
                        "vatOption": 1,
                        "raisonSociale": {
                            "id": 5,
                            "code": "M14",
                            "label": "EURL"
                        },
                        "address": {
                            "id": 1,
                            "address1": "S Las Vegas Blvd",
                            "address2": null,
                            "zipcode": "11",
                            "city": "Clark County",
                            "country": "United States",
                            "lat": 36.045999,
                            "lng": -115.1722248
                        }
                    },
                    "accesses": [
                        {
                            "id": 1,
                            "isPowerUser": true,
                            "customer": {
                                "id": 1,
                                "fullName": "21 July Editz",
                                "tradeName": "1111",
                                "vatOption": 1,
                                "active": 0,
                                "intercommunityVat": "11111",
                                "vat": null,
                                "siren": null,
                                "naf": "1111",
                                "iban": "FR7630001007941234567890185",
                                "accountName": "21212",
                                "swift": "FRFRFR76300",
                                "addressOption": 1,
                                "customerImg": [
                                    ""
                                ],
                                "company": {
                                    "id": 1,
                                    "fullName": "Tesla Corp",
                                    "tradeName": "Tesla",
                                    "intercommunityVat": "11111",
                                    "naf": "1111",
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 1,
                                    "raisonSociale": {
                                        "id": 5,
                                        "code": "M14",
                                        "label": "EURL"
                                    },
                                    "address": {
                                        "id": 1,
                                        "address1": "S Las Vegas Blvd",
                                        "address2": null,
                                        "zipcode": "11",
                                        "city": "Clark County",
                                        "country": "United States",
                                        "lat": 36.045999,
                                        "lng": -115.1722248
                                    }
                                }
                            },
                            "resources": {
                                "portfolios": [
                                    {
                                        "id": 1,
                                        "__DEVNOTE__id": "Id of portfolio",
                                        "profile": {
                                            "id": 3,
                                            "name": "Broker Portfolio 1",
                                            "slug": "1-broker-11231"
                                        },
                                        "allPropertiesOption": false,
                                        "properties": [
                                            {
                                                "id": 1,
                                                "name": "Property #1",
                                                "__DEVNOTE_profile": "Profile here is User User Access.",
                                                "profile": {
                                                    "id": 4,
                                                    "name": "Broker",
                                                    "slug": "1-broker-1524"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "id": 2,
                                        "__DEVNOTE__id": "Id of portfolio",
                                        "profile": null,
                                        "allPropertiesOption": true,
                                        "__DEVNOTE_allPropertiesOption": "Property option used to override all property access.",
                                        "properties": null
                                    }
                                ]
                            }
                        }
                    ]
                }
            }

## Admin: User Delete [/admin/users/{userId}/delete]
### (NOT AVAILABLE ATM)(Admin) User Delete [POST]

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": 1
            }

## Admin: User Impersonate [/admin/users/{userId}/impersonate]
### (Admin) User Impersonate [POST]
Login as selected User.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "userType": "admin",
                    "__DEVNODE__userType": "will be `admin` or `customer`",
                    
                    "token": "your.generated.token",
                    
                    "user": {
                        "id": 1,
                        "civility": "mr",
                        "lastName": "Lala",
                        "firstName": "Lulu",
                        "email": "luluz@mailinator.com",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": "CED",
                        "isAdmin": false,
                        "isActive": true,
                        "profilePicPath": null,
                        "company": {
                            "id": 1,
                            "fullName": "21 July Editz",
                            "tradeName": "1111",
                            "intercommunityVat": "11111",
                            "naf": "1111",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1,
                            "raisonSociale": {
                                "id": 5,
                                "code": "M14",
                                "label": "EURL"
                            },
                            "address": {
                                "id": 1,
                                "address1": "S Las Vegas Blvd",
                                "address2": null,
                                "zipcode": "11",
                                "city": "Clark County",
                                "country": "United States",
                                "lat": 36.045999,
                                "lng": -115.1722248
                            }
                        },

                        "accesses": [
                            {
                                "id": 1,
                                "isPowerUser": false,

                                "__DEVNOTE__profile": "Profile object or NULL",
                                "profile": null,
                                
                                "__DEVNOTE__customer": "Customer object or NULL",
                                "customer": {
                                    "id": 1,
                                    "fullName": "21 July Editz",
                                    "tradeName": "1111",
                                    "vatOption": 1,
                                    "active": 0,
                                    "intercommunityVat": "11111",
                                    "vat": null,
                                    "siren": null,
                                    "naf": "1111",
                                    "iban": "FR7630001007941234567890185",
                                    "accountName": "21212",
                                    "swift": "FRFRFR76300",
                                    "addressOption": 1,
                                    "customerImg": [
                                        ""
                                    ],
                                    "company": {
                                        "id": 1,
                                        "fullName": "Tesla Corp",
                                        "tradeName": "Tesla",
                                        "intercommunityVat": "11111",
                                        "naf": "1111",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 1,
                                        "raisonSociale": {
                                            "id": 5,
                                            "code": "M14",
                                            "label": "EURL"
                                        },
                                        "address": {
                                            "id": 1,
                                            "address1": "S Las Vegas Blvd",
                                            "address2": null,
                                            "zipcode": "11",
                                            "city": "Clark County",
                                            "country": "United States",
                                            "lat": 36.045999,
                                            "lng": -115.1722248
                                        }
                                    }
                                },
                                
                                "__DEVNOTE__resources": "Access/Permission Object or NULL",
                                "resources": null
                            }
                        ]
                    }
                }

## Admin: User Toggle Active [/admin/users/{userId}/toggle-active]
### (Admin) User Toggle Active [POST]
Toggle User Active Status.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "User Detail"
            }

## Admin: User Toggle Power User [/admin/users/{userId}/toggle-power-user]
### (Admin) User Toggle Power User [POST]
Toggle User Power User Status. Will be available on user with Company registered with valid Customer.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": "User Object"
            }

## Admin: User Reset Password [/admin/users/{userId}/reset-password]
### (Admin) User Reset Password [POST]

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": "User Object"
            }

## Admin: User Customer List [/admin/users/{userId}/customers]
### (Admin) User Customer List [GET]

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 1,
                        "fullName": "Myre",
                        "tradeName": "Myre",
                        "vatOption": null,
                        "active": 1,
                        "intercommunityVat": null,
                        "vat": null,
                        "siren": null,
                        "naf": null,
                        "iban": null,
                        "accountName": null,
                        "swift": null,
                        "addressOption": 1,
                        "customerImg": [
                            ""
                        ],
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "company": {
                            "id": 1,
                            "address": {
                                "id": 1,
                                "address1": "4th Avenue Cafe",
                                "address2": "",
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            },
                            "fullName": "Myre",
                            "tradeName": "Corp",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    {
                        "id": 300,
                        "fullName": "Contech",
                        "tradeName": "Contech",
                        "vatOption": null,
                        "active": 1,
                        "intercommunityVat": null,
                        "vat": null,
                        "siren": null,
                        "naf": null,
                        "iban": null,
                        "accountName": null,
                        "swift": null,
                        "addressOption": 1,
                        "customerImg": [
                            ""
                        ],
                        "raisonSociale": {
                            "id": 1,
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "company": {
                            "id": 300,
                            "address": {
                                "id": 1,
                                "address1": "4th Avenue Cafe",
                                "address2": "",
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            },
                            "fullName": "Contect",
                            "tradeName": "Contect",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    }
                ]
            }

## Admin: User Customer Power User Promote [/admin/users/{userId}/customers/{customerId}/promote]
### (Admin) User Customer Power User Promote [POST]
Promote User of a Customer to a Power User. Relation must exists.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": true,
                "version": {
                    "api": "2017-08-26 13:02:20 +0700",
                    "web": "2017-05-30 11:20:44 +0700"
                }
            }

## Admin: User Customer Power User Demote [/admin/users/{userId}/customers/{customerId}/demote]
### (Admin) User Customer Power User Demote [POST]
Demote User of a Customer from a Power User. Relation must exists.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": false,
                "version": {
                    "api": "2017-08-26 13:02:20 +0700",
                    "web": "2017-05-30 11:20:44 +0700"
                }
            }

## -NEW- Admin: User Lookup by Email [/admin/users/lookup?search={keyword}]
### (Admin) User Lookup by Email [GET]
Lookup user detail by email address.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 4,
                        "email": "hendy.yanuar+hps@wgs.co.id",
                        "civility": "mr",
                        "firstName": "Harry",
                        "lastName": "Pantjas",
                        "mobilePhone": "09",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "isAdmin": null,
                        "isActive": 1,
                        "profilePicPath": null,
                        "color": null,
                        "company": {
                            "id": 6,
                            "address": {
                                "id": 24,
                                "address1": "West Lane 12",
                                "address2": null,
                                "zipcode": "14123",
                                "city": "Vancouver",
                                "country": "CANADA",
                                "lat": 49.2827291,
                                "lng": -123.1207375
                            },
                            "fullName": "Metro Corp.",
                            "tradeName": "MCORP",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": "VAT111",
                            "naf": "NAF",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1
                        },
                        "accesses": [
                            {
                                "id": 3,
                                "isPowerUser": false,
                                "profile": null,
                                "customer": {
                                    "id": 3,
                                    "fullName": "Metro Corp.",
                                    "tradeName": "MCORP",
                                    "vatOption": 1,
                                    "active": 1,
                                    "intercommunityVat": "VAT111",
                                    "vat": null,
                                    "siren": null,
                                    "naf": "NAF",
                                    "iban": "FR7630001007941234567890185",
                                    "accountName": "IBANK",
                                    "swift": "FRFRFR76300",
                                    "addressOption": 0,
                                    "customerImg": [
                                        ""
                                    ],
                                    "raisonSociale": {
                                        "id": 1,
                                        "code": "M01",
                                        "label": "SOCIETE"
                                    },
                                    "company": {
                                        "id": 6,
                                        "address": {
                                            "id": 24,
                                            "address1": "West Lane 12",
                                            "address2": null,
                                            "zipcode": "14123",
                                            "city": "Vancouver",
                                            "country": "CANADA",
                                            "lat": 49.2827291,
                                            "lng": -123.1207375
                                        },
                                        "fullName": "Metro Corp.",
                                        "tradeName": "MCORP",
                                        "raisonSociale": {
                                            "id": 1,
                                            "code": "M01",
                                            "label": "SOCIETE"
                                        },
                                        "intercommunityVat": "VAT111",
                                        "naf": "NAF",
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 1
                                    }
                                },
                                "resources": {
                                    "portfolios": []
                                }
                            }
                        ]
                    }
                ]
            }

## Group ---1.3

## Group -NEW- Admin: Profile
## Admin: Profile List Parent [/admin/profiles/list?]
### (Admin) Profile List Parent [GET]
Show list of Parent Profile (protected & not have parent).

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 2,
                        "name": "Asset Manager (Copy)",
                        "description": "Copy of an asset manager",
                        "slug": "asset-manager",
                        "permissions": [
                            {
                                "user.create": true
                            },
                            {
                                "user.read": true
                            },
                            {
                                "user.update": true
                            }
                        ]
                    }
                ]
            }

## Admin: Profile Detail [/admin/profiles/{profileId}?]
### (Admin) Profile Detail [GET]

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "name": "Asset Manager (Copy)",
                    "description": "Copy of an asset manager",
                    "slug": "asset-manager",
                    "permissions": [
                        {
                            "user.create": true
                        },
                        {
                            "user.read": true
                        },
                        {
                            "user.update": true
                        }
                    ],
                    "familyProfile": {
                        "id": 1,
                        "name": "Asset Manager",
                        "slug": "asset-manager"
                    }
                }
            }

## Admin: Profile List Child by Parent Slug [/admin/profiles/list/{familySlug}?]
### (Admin) Profile List Child by Parent Slug [GET]
Show list of child profiles by parent slug.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 2,
                        "name": "Asset Manager (Copy)",
                        "description": "Copy of an asset manager",
                        "slug": "1-asset-manager-1",
                        "permissions": [
                            {
                                "user.create": true
                            },
                            {
                                "user.read": true
                            },
                            {
                                "user.update": true
                            }
                        ]
                    }
                ]
            }

## Admin: Profile Update [/admin/profiles/{profileId}]
### (Admin) Profile Update [POST]
Update Profile. Admin can only update name, description, & permission of `customer` Profile and unprotected.

+ Request (application/json)

        {
          "id": 2,
          "name": "Asset Manager (Copy)",
          "description": "Copy of an asset manager",

          "permissions": [
            {
              "user.create": true
            },
            {
              "user.read": true
            },
            {
              "user.update": true
            }
          ],

          "__DEVNOTE__familyProfile": "familyProfile can only be a `protected` & non-customer Profile",
          "familyProfile": {
            "id": 1,
            "name": "Asset Manager",
            "slug": "asset-manager"
          }
        }

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 2,
                        "name": "Asset Manager (Copy)",
                        "description": "Copy of an asset manager",
                        "slug": "1-asset-manager-1",
                        "permissions": [
                            {
                                "user.create": true
                            },
                            {
                                "user.read": true
                            },
                            {
                                "user.update": true
                            }
                        ]
                    }
                ]
            }

## Group ---2.1

## Group Customer: User
## Customer: User List [/customers/{customerId}/users?]
### (Customer) User List [GET]
User list for Customer. Only display accesses by given Customer.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 1,
                        "civility": "mr",
                        "lastName": "Lala",
[...]
